<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %> 

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">HOLLA AMIGO YOU'RE IN USERS EDITING PAGE</h1>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include('../layouts/footer') %> 