<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %>

<!-- Begin Page Content -->
<h1>WHAT</h1>
</div>
<!-- End of Main Content -->

  <script>
    $("document").ready(function () {
    });
  </script>

<%- include('../layouts/footer') %> 