<li class="nav-item dropdown no-arrow mx-1">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="alertsDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fas fa-bell fa-fw"></i>
    <!-- Counter - Alerts -->
    <span class="badge badge-danger badge-counter"></span>
  </a>
  <!-- Dropdown - Alerts -->
  <div
    class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" id="alertsList"
    aria-labelledby="alertsDropdown"
  >
    <h6 class="dropdown-header">Alerts Center</h6>
    <!-- <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-primary">
              <i class="fas fa-file-alt text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">December 12, 2019</div>
            <span class="font-weight-bold"
              >A new monthly report is ready to download!</span
            >
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-success">
              <i class="fas fa-donate text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">December 7, 2019</div>
            $290.29 has been deposited into your account!
          </div>
        </a> -->
    <a
      href="#"
      class="dropdown-item d-flex align-items-center text-center medium text-gray-500"
    >
      No notification
    </a>
    <!-- <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle bg-warning">
              <i class="fas fa-exclamation-triangle text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">December 2, 2019</div>
            Spending Alert: We've noticed unusually high spending for your
            account.
          </div>
        </a> -->
    <!-- <a class="dropdown-item text-center small text-gray-500" href="#"
          >Show All Alerts</a
        > -->
  </div>
</li>


<script>
  $(document).ready(function () {
    updateAlert();
  });

  function what() {
    return 'test haha'
  }

  const updateAlert = () => {
    $.get("http://localhost:3023/goods/data/check")
      .done(function (response) {
        let alertsData = `<h6 class="dropdown-header">Alerts Center</h6>`
        let alertsNotif

        if(response.data.length > 0) {
          alertsNotif = `<i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger badge-counter">${response.data.length > 3 ? `3+`: response.data.length}</span>`
  
          response.data.forEach((element) => {
            alertsData += `<a class="dropdown-item d-flex align-items-center" href="/purchases/new">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Barcode: ${element.barcode}</div>
                    Stock Alert: ${element.name} remaining stock is <span class="font-weight-bold">${element.stock}</span>
                  </div>
          </a>`;
          });
  
          $('#alertsDropdown').html(alertsNotif)
          $('#alertsList').html(alertsData)
        } else {
          alertsNotif = `<i class="fas fa-bell fa-fw"></i>`
          alertsData += `<a href="#" class="dropdown-item d-flex align-items-center text-center medium text-gray-500">No notification</a>`

          $('#alertsDropdown').html(alertsNotif)
          $('#alertsList').html(alertsData)
        }
      })
      .fail(function (err) {
        alert("something is wrong with notifications!");
      });
  };

</script>
